*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: whitesmoke;
}

.footer{
    padding: 40px 0;
    background-color: white;
}

.footer .social{
    display: flex;
    width: 50%;
    color: gray;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 20px;
    padding-top: 20px;
    flex-wrap: wrap;
}

.footer .social a{
    font-size:20px;
    color: inherit;
    border: 1px;
    opacity: 0.65;
}

.footer .social a:hover{
    opacity: 1;
}

.footer ul{
    display: flex;
    list-style: none;
    font-size: 16px;
    width: 50%;
    margin: auto;
    justify-content: space-evenly;
    padding-bottom: 20px;
    flex-wrap: wrap;
}

.footer ul a{
    color: inherit;
    text-decoration: none;
    opacity: 0.65;
}

.footer ul a:hover{
    opacity: 1;
}

.footer ul li{
    display: inline-block;
    padding: 0 15px;
}

.copyright{
    display: flex;
    justify-content: center;
    color: gray;
    padding-top: 20px;
}

.header{
    background-color: lightblue;
    height: 100px;
    font-size: larger;
    text-align: center;
}

.body{
    background-color: lightgreen;
    height: 300px;
    font-size: larger;
    text-align: center;
}